{{ define "users/login" }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Login</title>
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        </head>

        <body>
            <div class="container">
                <h1>Login In</h1>

                {{template "errors" .}}

                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email (example test@gmail.com)</label>
                        <input type="text" class="form-control" name="email" placeholder="Please enter your email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password (example 123456789)</label>
                        <input type="password" class="form-control" name="password" placeholder="Please enter your password">
                    </div>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </body>
    </html>
{{ end }}
